body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, tr, td, span, div { 
    font-family: Arial, Helvetica, Sans-Serif; 
    
    /* AB 24.01.2002 Netscape 4.7 retter sig ikke efter overordnet angivelse f.eks. paa body,
    derfor de mange tag-navne. */ 
 }
  
 #toptekst { 
    font-size: 100%; 
	background-color: #fff47c; 
	color: black;
   width : 100%;
 }

#FrontIntro {
    background-color: #fff47c;
    color:black;
}
#AdressLine{
    background-color: white;
    color: black;
    width: 100%;    
}
#navbar{
    background-color: #fff47c;
    height: 25%;
}
#navbarNavAltMarkup{
    background-color: #fff47c;
    height: 25%;
}
#navbar2{
    background-color: white;
}
#dlLinks{
    background-color: #fff47c;
}
 pre, code { font-family: monospace; }
 div.center { text-align: center; }
 div.right { text-align: right; }
 div.bundtekst { font-size: 60%; text-align: right; }

.out {	text-decoration : line-through; }
.new {	background-color : yellow; 	color: black; }
/* til ændringer i ugeplaner og lign. */
